#signin-body {
  height: 100%;
}

#signin-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;

}

.form-signin-container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: 1px solid;
  padding: 35px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-signin{

  background: #FE980F !important; 
  font-weight: bold;
  color: #ffffff;

}


/* dashboard page */

#dashboard-body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.user-navbar ul li {
  margin-right: 20px;
  color: #ffffff;

}

.user-navbar ul li a{
  text-decoration: none;
  color: #ffffff;
  }

  .main-menu nav{
    background-color: #FE980F;
  }

    .nav-link{
    color: #ffffff !important;
    font-weight: bold;
  }

  .navbar {

    height: 60px !important;
  }

.main-color{
  color: #ffffff !important;
  background: #FE980F !important; 
}


.text-muted{
  color: #ffffff !important;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

}

#users-grid a{

color: #343a40!important;

}

#users-grid .text-success{

  color: #FE980F !important;
}


#users-grid{
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
}

.user-grid-btn {
  background-color: #FE980F;
  border-color: #FE980F;
  color: #fff;
}


.my-class {
    cursor: pointer;
}

.btn-create-user{
  float: right; 
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}


.btn-create-user:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-in-line{
  display: inline-block !important;
  margin-left: 15px;
}


.form-label{
  display: inline-block; 
  width: 170px; 
  text-align: right;
  margin-top: 20px;
}